__pycache__/
*.pyc

.venv/

data/
uploads/

models/
*.pt
*.pth
*.pkl

*.swp
.DS_Store
Thumbs.db
frontend-new/node_modules/
frontend-new/.env
frontend-new/.vite/
frontend-new/dist/
frontend-new/.DS_Store
gambar test/
